* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display:flex;
    width: 100%;
    height: 5vh;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;  
    margin-left: 30px;
}

.logo span {
    font-weight: bold;
    font-size: 18px;
    padding-left: 5px;
    color: #161616;
}

.logo i {
    width: 100%;
   
}

.menu {
    margin-right: 30px;
}

.menu i {
    padding: 5px;
    color: #ADDE87;
}

.banner {
    width: 100%;
}


.promotion {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 0.1px solid #A5A1A1;
    justify-content: space-between;

}

p:nth-of-type(2n){
    margin-right: 20px;
}
.promotion p {
    font-size: 24px;
    font-weight: 700;
    margin-left: 30px;
    color: #161616;
}

.container {
    display:flex;
    max-width: 1280px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
}

.card {
    display: flex;
    flex-direction: column;

    max-width: 400px;
    max-height: 400px;

    padding: 20px 36px;
}

.content p {
    padding-top: 10px;
    font-weight: 700;
    color: #161616;
    font-size: 18px;


}

.content span {
    font-weight: 700;
    color:#5CA720;
}

.container img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
} 

.info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #F9F9F9;
    height: 200px;
    flex-wrap: wrap;
}

.info ul {
    padding-left: 40px;
    list-style: none;
    
}

.info ul li {
   font-size: 16px;
   padding-top: 5px;
   font-weight: 700;
}

.newsletter {
    padding-right: 30px;
}

.newsletter span {
    font-weight: 700;
    
}

.email {
    padding-top: 10px;
    display:flex;
}

.email input {
    border: .5px solid #A5A1A1;
    width: 397px;
    font-size: 18px;

}

button {
    margin: 0;
    height: 54px;
    width: 150px;
    background-color:#5CA720;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}


button::placeholder {
    color: #A5A1A1;
    text-align: left;
}

footer {
    display: flex;
    justify-content: space-between;

    height: 100%;
}

footer .icons {
    margin-left: 30px;
}

.money img {
    width: 25px;
    margin: 5px;
}

/* Reponsividade */

@media screen and (max-width: 768px) {

    .info {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 630px) {
    .info {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .newsletter {
        margin-top: 20px;
        width: 185px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    div .email {
        width: 50px;
        margin: 0 auto;
    }

    .email input {
        width: 150px;
    }

}